<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="OAuth" type="OAuth.MVC.Library.Configuration.OAuthConfigurationSection,OAuth.MVC.Library"/>
  </configSections>
  <OAuth realm="http://testsite.com">
    
  </OAuth>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
